$background-color: #111;
$foreground-color: #ddd;
$font: 'Open Sans', Helvetica Neue, Arial, Helvetica, sans-serif;

html, body {
  background: $background-color;
  color: $foreground-color;
  font-family: $font;
  font-weight: 300;
  height: 100%;
  width: 100%;
  padding-top:0em;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  color: $foreground-color;
  font-family: $font;
  font-weight: 700; 
  text-transform: uppercase;
}

p, span, ul, li {
  color: $foreground-color;
  font-family: $font;
  font-weight: 300; 
}

.navbar-default .navbar-nav > li > a {
  font-family: $font;
  font-weight: 300;
  color: $foreground-color; 
  background: $background-color !important;
}
@media (min-width: 768px) {
  .navbar-default .navbar-nav > li > a {
    padding: 2em 0.6em; 
    background: none !important;
  } 
}

.navbar-default .navbar-nav > li > a:hover {
  color: #aaaaaa; }

.navbar-default .navbar-nav > li.active > a {
  background-color: inherit;
  color: #C39953; }

.navbar-default .navbar-nav > li.active > a:hover {
  background-color: inherit;
  color: #C39953; }

.navbar-default .navbar-brand {
  font-family: $font;
  font-weight: 700;
  font-size: 2em;
  color: $foreground-color !important;
  background: $background-color !important;
  text-transform: uppercase;
  margin-top: 0.5em;
}

.navbar-nav {
  margin-right: 2em; }

.navbar-default .navbar-brand:hover {
  color: #aaaaaa; }

.navbar, .navbar-collapse {
  border: 0px;
  margin-bottom: 0px;
  background: none; }

.navbar-toggle {
  margin-top: 1.5em;
  margin-right: 3em; }

#gallery {
  height: 100%;
  position: fixed;
  display: block;
  width: percentage(5/12);
}

.homerow {
  height: 100%; }

.homecontentwrap {
  padding: 0em 3em; 
  padding-top: 5em;
  
  .homecontent{
    padding-top: 2em;
  }
  .hrwrap {
    width: percentage(7/12);
  }
}

.hrwrap {
  width: 100%;
  position: fixed;
  background: $background-color;
  padding-top: 60px;
  top: 0px;
  height: 110px;
  /* vertical-align: middle; */
  margin-left: -2.8em;
  hr {
    position:fixed;
    width: inherit;
  }
}

.videocontentwrap {
  padding: 0em 3em; 
  padding-top: 5em;
  
  .videocontent{
    padding-top: 2em;
    text-align:center;
  }
}

/* Flaired edges, by Tomas Theunissen */
hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: $foreground-color;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: $foreground-color;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
/* Glyph, by Harry Roberts */

hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double $foreground-color;
    color: $foreground-color;
    text-align: center;
}

hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: $background-color;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: lighten($background-color, 10%);
}