@charset "UTF-8";
html, body {
  background: #111;
  color: #ddd;
  font-family: "Open Sans", Helvetica Neue, Arial, Helvetica, sans-serif;
  font-weight: 300;
  height: 100%;
  width: 100%;
  padding-top: 0em;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  color: #ddd;
  font-family: "Open Sans", Helvetica Neue, Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

p, span, ul, li {
  color: #ddd;
  font-family: "Open Sans", Helvetica Neue, Arial, Helvetica, sans-serif;
  font-weight: 300; }

.navbar-default .navbar-nav > li > a {
  font-family: "Open Sans", Helvetica Neue, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #ddd;
  background: #111 !important; }

@media (min-width: 768px) {
  .navbar-default .navbar-nav > li > a {
    padding: 2em 0.6em;
    background: none !important; } }

.navbar-default .navbar-nav > li > a:hover {
  color: #aaaaaa; }

.navbar-default .navbar-nav > li.active > a {
  background-color: inherit;
  color: #C39953; }

.navbar-default .navbar-nav > li.active > a:hover {
  background-color: inherit;
  color: #C39953; }

.navbar-default .navbar-brand {
  font-family: "Open Sans", Helvetica Neue, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #ddd !important;
  background: #111 !important;
  text-transform: uppercase;
  margin-top: 0.5em; }

@media (min-width: 768px) {
  .navbar-nav {
    margin-right: 2em; } }

.navbar-default .navbar-brand:hover {
  color: #aaaaaa; }

.navbar, .navbar-collapse {
  border: 0px;
  margin-bottom: 0px;
  background: none; }

.navbar-toggle {
  margin-top: 1.5em; }

#gallery {
  height: 100%;
  position: fixed;
  display: block;
  width: 41.66667%; }

.homerow {
  height: 100%; }

.homecontentwrap {
  padding: 0em 3em;
  padding-top: 5em; }
  .homecontentwrap .homecontent {
    padding-top: 2em; }
  @media (min-width: 768px) {
    .homecontentwrap .hrwrap {
      width: 58.33333%; } }

.hrwrap {
  width: 100%;
  position: fixed;
  background: #111;
  padding-top: 60px;
  top: 0px;
  height: 110px;
  /* vertical-align: middle; */
  margin-left: -2em;
  z-index: 999; }
  .hrwrap hr {
    position: fixed;
    width: inherit; }

@media (min-width: 768px) {
  .hrwrap {
    margin-left: -2.8em; } }

.videocontentwrap {
  padding: 0em 3em;
  padding-top: 5em; }
  .videocontentwrap .videocontent {
    padding-top: 2em;
    text-align: center; }

/* Flaired edges, by Tomas Theunissen */
hr.style-seven {
  height: 30px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0 0 0;
  border-radius: 20px; }

hr.style-seven:before {
  /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #ddd;
  border-width: 0 0 1px 0;
  border-radius: 20px; }

/* Glyph, by Harry Roberts */
hr.style-eight {
  padding: 0;
  border: none;
  border-top: medium double #ddd;
  color: #ddd;
  text-align: center; }

hr.style-eight:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #111; }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #2b2b2b; }

.img-responsive {
  margin: 0 auto; }

.videolabel {
  position: relative;
  top: 1.4em; }
